* text=auto !eol
/Aphid.sln -text
/Aphid.vssscc -text
Aphid/Aphid.csproj -text
Aphid/Aphid.csproj.vspscc -text
Aphid/App.config -text
Aphid/FibonacciExample.alx -text
Aphid/FunctionExample.alx -text
Aphid/HelloWorld.alx -text
Aphid/LambdaExample.alx -text
Aphid/PartialFunctionExample.alx -text
Aphid/PatternMatchingExample.alx -text
Aphid/PipeliningExample.alx -text
Aphid/Program.cs -text
Aphid/Properties/AssemblyInfo.cs -text
Aphid/TcpExample.alx -text
AphidCodeGenerator/Aphid.Code.alx -text
AphidCodeGenerator/Aphid.Tmpl.alx -text
AphidCodeGenerator/Aphid.alx -text
AphidCodeGenerator/AphidBinaryOperatorExpressionRule.cs -text
AphidCodeGenerator/AphidCodeGenerator.csproj -text
AphidCodeGenerator/AphidCodeGenerator.csproj.vspscc -text
AphidCodeGenerator/AphidLexerGenerator.cs -text
AphidCodeGenerator/AphidObject.alx -text
AphidCodeGenerator/AphidObjectGenerator.cs -text
AphidCodeGenerator/AphidObjectLexerGenerator.cs -text
AphidCodeGenerator/AphidParserGenerator.cs -text
AphidCodeGenerator/AphidParserRules.cs -text
AphidCodeGenerator/App.config -text
AphidCodeGenerator/CSharpHelper.cs -text
AphidCodeGenerator/CodeExpressionExtension.cs -text
AphidCodeGenerator/CodeHelper.cs -text
AphidCodeGenerator/CodeMemberMethodExtension.cs -text
AphidCodeGenerator/CodeMethodReferenceExpressionExtension.cs -text
AphidCodeGenerator/IAphidCodeObject.cs -text
AphidCodeGenerator/IEnumerableExtension.cs -text
AphidCodeGenerator/LexerHelper.cs -text
AphidCodeGenerator/ParserRules.alx -text
AphidCodeGenerator/PathHelper.cs -text
AphidCodeGenerator/PluginLoader.cs -text
AphidCodeGenerator/Program.cs -text
AphidCodeGenerator/Properties/AssemblyInfo.cs -text
AphidCodeGenerator/TypeExtension.cs -text
AphidPerformanceTest/AphidPerformanceTest.csproj -text
AphidPerformanceTest/AphidPerformanceTest.csproj.vspscc -text
AphidPerformanceTest/App.config -text
AphidPerformanceTest/Program.cs -text
AphidPerformanceTest/Properties/AssemblyInfo.cs -text
AphidUI/AphidRepl.xaml -text
AphidUI/AphidRepl.xaml.cs -text
AphidUI/AphidUI.csproj -text
AphidUI/AphidUI.csproj.vspscc -text
AphidUI/AphidWatch.xaml -text
AphidUI/AphidWatch.xaml.cs -text
AphidUI/App.config -text
AphidUI/App.xaml -text
AphidUI/App.xaml.cs -text
AphidUI/BoolFlipConverter.cs -text
AphidUI/CodeTextBox.xaml -text
AphidUI/CodeTextBox.xaml.cs -text
AphidUI/CodeViewer.xaml -text
AphidUI/CodeViewer.xaml.cs -text
AphidUI/DebugHelper.cs -text
AphidUI/Internal/CodeCanvas.xaml -text
AphidUI/Internal/CodeCanvas.xaml.cs -text
AphidUI/KeyHelper.cs -text
AphidUI/MainWindow.xaml -text
AphidUI/MainWindow.xaml.cs -text
AphidUI/Properties/AssemblyInfo.cs -text
AphidUI/Properties/Resources.Designer.cs -text
AphidUI/Properties/Resources.resx -text
AphidUI/Properties/Settings.Designer.cs -text
AphidUI/Properties/Settings.settings -text
AphidUI/PropertyChangedAttribute.cs -text
AphidUI/TextCell.cs -text
AphidUI/TextCellType.cs -text
AphidUI/ViewModels/ExpressionViewModel.cs -text
AphidUI/ViewModels/VariableViewModel.cs -text
AphidUI/ViewModels/ViewModel.cs -text
AphidUI/ViewModels/WindowViewModel.cs -text
Components.Aphid.Net/AphidRequest.cs -text
Components.Aphid.Net/Components.Aphid.Net.csproj -text
Components.Aphid.Net/Components.Aphid.Net.csproj.vspscc -text
Components.Aphid.Net/HttpLibrary.cs -text
Components.Aphid.Net/Properties/AssemblyInfo.cs -text
Components.Aphid.Tests.Integration/AphidObjectTests.cs -text
Components.Aphid.Tests.Integration/AphidTests.cs -text
Components.Aphid.Tests.Integration/AssignmentTests.cs -text
Components.Aphid.Tests.Integration/Components.Aphid.Tests.Integration.csproj -text
Components.Aphid.Tests.Integration/Components.Aphid.Tests.Integration.csproj.vspscc -text
Components.Aphid.Tests.Integration/ConditionalTests.cs -text
Components.Aphid.Tests.Integration/DynamicMemberTests.cs -text
Components.Aphid.Tests.Integration/FunctionTests.cs -text
Components.Aphid.Tests.Integration/InitTests.cs -text
Components.Aphid.Tests.Integration/LexerTests.cs -text
Components.Aphid.Tests.Integration/ListTests.cs -text
Components.Aphid.Tests.Integration/LiteralTests.cs -text
Components.Aphid.Tests.Integration/LoopTests.cs -text
Components.Aphid.Tests.Integration/MutatorTests.cs -text
Components.Aphid.Tests.Integration/NullTests.cs -text
Components.Aphid.Tests.Integration/OperatorTests.cs -text
Components.Aphid.Tests.Integration/OrderOfOperationsTests.cs -text
Components.Aphid.Tests.Integration/PatternMatchingTests.cs -text
Components.Aphid.Tests.Integration/Properties/AssemblyInfo.cs -text
Components.Aphid.Tests.Integration/PropertyTests.cs -text
Components.Aphid.Tests.Integration/QueryTests.cs -text
Components.Aphid.Tests.Integration/ScopeTests.cs -text
Components.Aphid.Tests.Integration/StringTests.cs -text
Components.Aphid.Tests.Integration/ThisTests.cs -text
Components.Aphid.Tests.Integration/TryCatchTests.cs -text
Components.Aphid.Tests.Integration/packages.config -text
Components.Aphid.VSPackage/AphidAuthoringScope.cs -text
Components.Aphid.VSPackage/AphidDeclaration.cs -text
Components.Aphid.VSPackage/AphidDeclarations.cs -text
Components.Aphid.VSPackage/AphidLanguageService.cs -text
Components.Aphid.VSPackage/AphidPackage.cs -text
Components.Aphid.VSPackage/AphidScanner.cs -text
Components.Aphid.VSPackage/Components.Aphid.VSPackage.csproj -text
Components.Aphid.VSPackage/Components.Aphid.VSPackage.csproj.vspscc -text
Components.Aphid.VSPackage/GlobalSuppressions.cs -text
Components.Aphid.VSPackage/Guids.cs -text
Components.Aphid.VSPackage/Key.snk -text svneol=unset#unset
Components.Aphid.VSPackage/Properties/AssemblyInfo.cs -text
Components.Aphid.VSPackage/Resources.Designer.cs -text
Components.Aphid.VSPackage/Resources.resx -text
Components.Aphid.VSPackage/Resources/Package.ico -text svneol=unset#unset
Components.Aphid.VSPackage/VSPackage.resx -text
Components.Aphid.VSPackage/source.extension.vsixmanifest -text
Components.Aphid.VSPackage/todo.txt -text
Components.Aphid/App.config -text
Components.Aphid/Components.Aphid.csproj -text
Components.Aphid/Components.Aphid.csproj.vspscc -text
Components.Aphid/Interpreter/AphidFunction.cs -text
Components.Aphid/Interpreter/AphidInteropFunction.cs -text
Components.Aphid/Interpreter/AphidInteropFunctionAttribute.cs -text
Components.Aphid/Interpreter/AphidInterpreter.cs -text
Components.Aphid/Interpreter/AphidLibraryAttribute.cs -text
Components.Aphid/Interpreter/AphidLoader.cs -text
Components.Aphid/Interpreter/AphidObject.cs -text
Components.Aphid/Interpreter/AphidObject.g.cs -text
Components.Aphid/Interpreter/AphidObjectConverter.cs -text
Components.Aphid/Interpreter/AphidObjectEqualityComparer.cs -text
Components.Aphid/Interpreter/AphidOperationException.cs -text
Components.Aphid/Interpreter/AphidPropertyAttribute.cs -text
Components.Aphid/Interpreter/AphidPropertyInfo.cs -text
Components.Aphid/Interpreter/AphidPropertyValuePair.cs -text
Components.Aphid/Interpreter/AphidRef.cs -text
Components.Aphid/Interpreter/AphidRuntimeException.cs -text
Components.Aphid/Interpreter/AphidScriptOptimizer.cs -text
Components.Aphid/Interpreter/AphidType.cs -text
Components.Aphid/Interpreter/IAphidBindable.cs -text
Components.Aphid/Interpreter/InterpreterException.cs -text
Components.Aphid/Interpreter/OperatorHelper.cs -text
Components.Aphid/Interpreter/TypeExtender.cs -text
Components.Aphid/Interpreter/ValueHelper.cs -text
Components.Aphid/Lexer/AphidLexer.cs -text
Components.Aphid/Lexer/AphidObjectLexer.cs -text
Components.Aphid/Lexer/TokenHelper.cs -text
Components.Aphid/Library/AphidByteConverter.cs -text
Components.Aphid/Library/AphidSerializer.cs -text
Components.Aphid/Library/Conversion.alx -text
Components.Aphid/Library/Dbg.alx -text
Components.Aphid/Library/DebugLibrary.cs -text
Components.Aphid/Library/Env.alx -text
Components.Aphid/Library/EnvironmentLibrary.cs -text
Components.Aphid/Library/ExecOptions.cs -text
Components.Aphid/Library/IO.alx -text
Components.Aphid/Library/IOLibrary.cs -text
Components.Aphid/Library/List.alx -text
Components.Aphid/Library/Query.alx -text
Components.Aphid/Library/Reflection.alx -text
Components.Aphid/Library/ReflectionLibrary.cs -text
Components.Aphid/Library/StandardLibrary.cs -text
Components.Aphid/Library/Std.alx -text
Components.Aphid/Library/StreamLibrary.cs -text
Components.Aphid/Library/String.alx -text
Components.Aphid/Library/Tcp.alx -text
Components.Aphid/Library/TcpLibrary.cs -text
Components.Aphid/Library/Threading.alx -text
Components.Aphid/Library/ThreadingLibrary.cs -text
Components.Aphid/Library/Udp.alx -text
Components.Aphid/Library/UdpLibrary.cs -text
Components.Aphid/Parser/AphidAttributeAttribute.cs -text
Components.Aphid/Parser/AphidAttributeParser.cs -text
Components.Aphid/Parser/AphidExpression.cs -text
Components.Aphid/Parser/AphidMacro.cs -text
Components.Aphid/Parser/AphidMacroBodyMutator.cs -text
Components.Aphid/Parser/AphidMacroMutator.cs -text
Components.Aphid/Parser/AphidMutator.cs -text
Components.Aphid/Parser/AphidMutatorGroup.cs -text
Components.Aphid/Parser/AphidNode.cs -text
Components.Aphid/Parser/AphidNodeCollection.cs -text
Components.Aphid/Parser/AphidNodeType.cs -text
Components.Aphid/Parser/AphidParser.cs -text
Components.Aphid/Parser/AphidParser.g.cs -text
Components.Aphid/Parser/AphidParserException.cs -text
Components.Aphid/Parser/ArrayAccessExpression.cs -text
Components.Aphid/Parser/ArrayExpression.cs -text
Components.Aphid/Parser/BinaryNumber.cs -text
Components.Aphid/Parser/BinaryOperatorExpression.cs -text
Components.Aphid/Parser/BooleanExpression.cs -text
Components.Aphid/Parser/BreakExpression.cs -text
Components.Aphid/Parser/CallExpression.cs -text
Components.Aphid/Parser/ConstantFoldingMutator.cs -text
Components.Aphid/Parser/ControlFlowExpression.cs -text
Components.Aphid/Parser/DoWhileExpression.cs -text
Components.Aphid/Parser/DynamicMemberExpression.cs -text
Components.Aphid/Parser/ElseExpression.cs -text
Components.Aphid/Parser/ExtendExpression.cs -text
Components.Aphid/Parser/Fluent/AphidExpressionExtension.cs -text
Components.Aphid/Parser/ForEachExpression.cs -text
Components.Aphid/Parser/ForExpression.cs -text
Components.Aphid/Parser/FunctionExpression.cs -text
Components.Aphid/Parser/IParentNode.cs -text
Components.Aphid/Parser/IdentifierExpression.cs -text
Components.Aphid/Parser/IfExpression.cs -text
Components.Aphid/Parser/IncludeMutator.cs -text
Components.Aphid/Parser/LoadLibraryExpression.cs -text
Components.Aphid/Parser/LoadScriptExpression.cs -text
Components.Aphid/Parser/MemberExpression.cs -text
Components.Aphid/Parser/NullExpression.cs -text
Components.Aphid/Parser/NumberExpression.cs -text
Components.Aphid/Parser/ObjectExpression.cs -text
Components.Aphid/Parser/ParserErrorMessage.cs -text
Components.Aphid/Parser/PartialFunctionExpression.cs -text
Components.Aphid/Parser/PatternMatchingExpression.cs -text
Components.Aphid/Parser/PipelineToCallMutator.cs -text
Components.Aphid/Parser/Statement.cs -text
Components.Aphid/Parser/StringExpression.cs -text
Components.Aphid/Parser/StringParser.cs -text
Components.Aphid/Parser/SwitchCase.cs -text
Components.Aphid/Parser/SwitchExpression.cs -text
Components.Aphid/Parser/TernaryOperatorExpression.cs -text
Components.Aphid/Parser/ThisExpression.cs -text
Components.Aphid/Parser/TryExpression.cs -text
Components.Aphid/Parser/UnaryOperatorExpression.cs -text
Components.Aphid/Parser/ValueExpression.cs -text
Components.Aphid/Parser/WhileExpression.cs -text
Components.Aphid/Properties/AssemblyInfo.cs -text
Components.Net/Components.Net.csproj -text
Components.Net/Components.Net.csproj.vspscc -text
Components.Net/Http/ChunkedTransferEncoding.cs -text
Components.Net/Http/ContentDisposition.cs -text
Components.Net/Http/FieldValuePair.cs -text
Components.Net/Http/FormData.cs -text
Components.Net/Http/FormUrlEncoder.cs -text
Components.Net/Http/HttpClient.cs -text
Components.Net/Http/HttpConnection.cs -text
Components.Net/Http/HttpField.cs -text
Components.Net/Http/HttpMessagePart.cs -text
Components.Net/Http/HttpMethod.cs -text
Components.Net/Http/HttpRequest.cs -text
Components.Net/Http/HttpResponse.cs -text
Components.Net/Http/HttpUpload.cs -text
Components.Net/Http/HttpVersion.cs -text
Components.Net/Http/MimeType.cs -text
Components.Net/Properties/AssemblyInfo.cs -text
ILWeave/Foreign/Microsoft.Cci.ILGenerator.dll -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.ILGenerator.pdb -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.ILGenerator.xml -text
ILWeave/Foreign/Microsoft.Cci.MetadataHelper.dll -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.MetadataHelper.pdb -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.MetadataHelper.xml -text
ILWeave/Foreign/Microsoft.Cci.MetadataModel.dll -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.MetadataModel.pdb -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.MetadataModel.xml -text
ILWeave/Foreign/Microsoft.Cci.MutableMetadataModel.dll -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.MutableMetadataModel.pdb -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.MutableMetadataModel.xml -text
ILWeave/Foreign/Microsoft.Cci.PdbReader.dll -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.PdbReader.pdb -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.PdbReader.xml -text
ILWeave/Foreign/Microsoft.Cci.PdbWriter.dll -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.PdbWriter.pdb -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.PdbWriter.xml -text
ILWeave/Foreign/Microsoft.Cci.PeReader.dll -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.PeReader.pdb -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.PeReader.xml -text
ILWeave/Foreign/Microsoft.Cci.PeWriter.dll -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.PeWriter.pdb -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.PeWriter.xml -text
ILWeave/Foreign/Microsoft.Cci.SourceModel.dll -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.SourceModel.pdb -text svneol=unset#unset
ILWeave/Foreign/Microsoft.Cci.SourceModel.xml -text
ILWeave/ILWeave.csproj -text
ILWeave/ILWeave.csproj.vspscc -text
ILWeave/Program.cs -text
ILWeave/Properties/AssemblyInfo.cs -text
ILWeave/PropertyChangedWeaver.cs -text
ILWeave/ReferenceReplacementRewriter.cs -text
ILWeave/TypeHelper2.cs -text
LLex/AlxFile.cs -text
LLex/BinaryExpression.cs -text
LLex/CharExpression.cs -text
LLex/GroupExpression.cs -text
LLex/LLex.csproj -text
LLex/LLex.csproj.vspscc -text
LLex/LLexFile.cs -text
LLex/LLexNameInfo.cs -text
LLex/LexFileMode.cs -text
LLex/LexerGenerator.cs -text
LLex/LexerState.cs -text
LLex/OperatorExpression.cs -text
LLex/Program.cs -text
LLex/Properties/AssemblyInfo.cs -text
LLex/Properties/Resources.Designer.cs -text
LLex/Properties/Resources.resx -text
LLex/RegexCompiler.cs -text
LLex/RegexExpression.cs -text
LLex/RegexLexer.cs -text
LLex/RegexNode.cs -text
LLex/RegexParser.cs -text
LLex/Resources/AddTokenTemplate.cs -text
LLex/Resources/CaseTemplate.cs -text
LLex/Resources/LexicalAnalyzerTemplate.cs -text
LLex/Resources/RootStateTemplate.cs -text
LLex/Resources/StateTemplate.cs -text
LLex/TokenEntry.cs -text
LLex/TokenTable.cs -text
LLex/app.config -text
LLex/regex.ll -text
Mantispid/Aphid.alx -text
Mantispid/App.config -text
Mantispid/CallIdentifierMutator.cs -text
Mantispid/DeclarativeStatementAttributes.cs -text
Mantispid/DeclarativeStatementMutator.cs -text
Mantispid/Mantispid.csproj -text
Mantispid/Mantispid.csproj.vspscc -text
Mantispid/ParserGenerator.cs -text
Mantispid/ParserGeneratorConfig.cs -text
Mantispid/ParserIdentifier.cs -text
Mantispid/PlusEqualMutator.cs -text
Mantispid/Program.cs -text
Mantispid/Properties/AssemblyInfo.cs -text
Mantispid/ReferenceType.cs -text
Mantispid/RuleStruct.cs -text
Mantispid/RuleTypeTable.cs -text
Mantispid/SymbolScope.cs -text
Mantispid/SymbolTable.cs -text
Mantispid/TypeInferenceMutator.cs -text
Samples/CallAphidFunctionSample/App.config -text
Samples/CallAphidFunctionSample/CallAphidFunctionSample.csproj -text
Samples/CallAphidFunctionSample/CallAphidFunctionSample.csproj.vspscc -text
Samples/CallAphidFunctionSample/Program.cs -text
Samples/CallAphidFunctionSample/Properties/AssemblyInfo.cs -text
Samples/FunctionSample/App.config -text
Samples/FunctionSample/FunctionSample.csproj -text
Samples/FunctionSample/FunctionSample.csproj.vspscc -text
Samples/FunctionSample/Program.cs -text
Samples/FunctionSample/Properties/AssemblyInfo.cs -text
Samples/HelloWorld/App.config -text
Samples/HelloWorld/HelloWorld.csproj -text
Samples/HelloWorld/HelloWorld.csproj.vspscc -text
Samples/HelloWorld/Program.cs -text
Samples/HelloWorld/Properties/AssemblyInfo.cs -text
Samples/HigherOrderFunctionSample/App.config -text
Samples/HigherOrderFunctionSample/HigherOrderFunctionSample.csproj -text
Samples/HigherOrderFunctionSample/HigherOrderFunctionSample.csproj.vspscc -text
Samples/HigherOrderFunctionSample/Program.cs -text
Samples/HigherOrderFunctionSample/Properties/AssemblyInfo.cs -text
Samples/InteropFunctionSample/AphidMath.cs -text
Samples/InteropFunctionSample/App.config -text
Samples/InteropFunctionSample/InteropFunctionSample.csproj -text
Samples/InteropFunctionSample/InteropFunctionSample.csproj.vspscc -text
Samples/InteropFunctionSample/Program.cs -text
Samples/InteropFunctionSample/Properties/AssemblyInfo.cs -text
Samples/LambdaSample/App.config -text
Samples/LambdaSample/LambdaSample.csproj -text
Samples/LambdaSample/LambdaSample.csproj.vspscc -text
Samples/LambdaSample/Program.cs -text
Samples/LambdaSample/Properties/AssemblyInfo.cs -text
Samples/ObjectSample/App.config -text
Samples/ObjectSample/ObjectSample.csproj -text
Samples/ObjectSample/ObjectSample.csproj.vspscc -text
Samples/ObjectSample/Program.cs -text
Samples/ObjectSample/Properties/AssemblyInfo.cs -text
Samples/VariableGetSample/App.config -text
Samples/VariableGetSample/Program.cs -text
Samples/VariableGetSample/Properties/AssemblyInfo.cs -text
Samples/VariableGetSample/VariableGetSample.csproj -text
Samples/VariableGetSample/VariableGetSample.csproj.vspscc -text
Samples/VariableSetSample/App.config -text
Samples/VariableSetSample/Program.cs -text
Samples/VariableSetSample/Properties/AssemblyInfo.cs -text
Samples/VariableSetSample/VariableSetSample.csproj -text
Samples/VariableSetSample/VariableSetSample.csproj.vspscc -text
packages/NUnit.2.6.3/NUnit.2.6.3.nupkg -text svneol=unset#unset
packages/NUnit.2.6.3/lib/nunit.framework.dll -text svneol=unset#unset
packages/NUnit.2.6.3/lib/nunit.framework.xml -text
packages/NUnit.2.6.3/license.txt -text
packages/repositories.config -text
